.about-section{
    margin: 20px 30px;
}
.description{
    margin: 0 20px;
    display: flex;
}
.description__text{
    width: 70%;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #023e73;
}
.description__text > span{
    font-weight: 900;
}
.description__images{
    width: 40%;
    text-align: center;
}
.description__images > img{
    border-radius: 20px;
}
.description__images > span{
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #023e73;
}
.license-container{
    width: 60%;
}
.license-container > h2{
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #023e73;
}
.licenses > img{
    border: 5px solid #023e73;
    width: 180px;
    height: 250px;
}
.documents > button{
    font-weight: 700;
    font-size: 24px;
    color: #023e73;
    background: none;
    margin: 5px;
}
.documents-container{
    border-radius: 35px;
    width: 100%;
    min-height: 400px;
    box-shadow: -4px 0 4px 0 rgba(0, 0, 0, 0.25), 
    4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(86, 79, 79, 0.19);
}
