#about-section{
    position: relative;
    margin: 20px 20px;
}
.description{
    display: flex;
}
.description__text{
    flex: 1;
    width: 60%;
    padding: 0 10px;
    font-size: 16px;
}
.description__text p{
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #023e73;
    font-size: 1em;
}
.description__text strong{
    font-weight: 900;
    font-size: 1em;
}
.description__images{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.image-row{
    display: flex;
    /*justify-content: space-between;*/
    gap: 10px;
}
.image-row img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    max-width: 250px;
}
.description__images > span{
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #023e73;
}
.license-container{
    position: relative;
    display: flex;
}
.licenses> h2{
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #023e73;
}
.licenses > img{
    border: 5px solid #023e73;
    width: 180px;
    height: 250px;
}
.video-container{
    margin: auto;
    display: block;
}
.video-container > iframe{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    background: rgba(86, 79, 79, 0.19);
}
details{
    margin-top: 20px;
}
details > summary{
    font-weight: 700;
    font-size: 24px;
    color: #023e73;
    background: none;
    margin: 5px;

    cursor: pointer;
    list-style: none; /* Убираем стандартный маркер */
    display: flex;
    align-items: center;
}

/* Добавляем "+" в свернутом состоянии */
summary::after {
    content: "+";
    margin-left: 5px; /* Отступ между текстом и символом */
}

/* Меняем "+" на "-" в раскрытом состоянии */
details[open] summary::after {
    content: "-";
}
.documents-container{
    border-radius: 35px;
    width: 100%;
    min-height: 400px;
    box-shadow: -4px 0 4px 0 rgba(0, 0, 0, 0.25), 
    4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(86, 79, 79, 0.19);
}
.documents-container ul{
    padding: 25px 25px ;
   
}
.documents-container li{
    padding: 10px;
}
.documents-container h2{
    font-weight: 700;
    font-size: 16px;
    color: #564f4f;
    padding-bottom: 15px;
}
.documents-container a{
    font-weight: 700;
    font-size: 16px;
    color: #023e73;
}
