#employees-section{
    margin-top: 20px;

}
.employees__scroll-container{
    position: relative; 
    display: flex;/* Для позиционирования кнопок */
    width: 90%;
    max-width: 1200px; /* Увеличим максимальную ширину для лучшего отображения */
    margin: 0 auto;
    overflow: hidden; /* Скрываем лишние карточки */
}
.employees{
    display: flex;
    width: 100%; /* Контейнер занимает всю ширину */
    overflow-x: scroll; /* Добавляем горизонтальную прокрутку */
    scroll-behavior: smooth; /* Плавная прокрутка */
    gap: 20px; /* Расстояние между карточками */
    padding: 20px 0; /* Отступы для корректной прокрутки */
    -ms-overflow-style: none; /* Скрываем полосу прокрутки для IE и Edge */
    scrollbar-width: none; /* Скрываем полосу прокрутки для Firefox */
}
/* Скрываем полосу прокрутки для Chrome, Safari и Opera */
.employees::-webkit-scrollbar {
    display: none;
}
.employee-card{
    flex: 0 0 300px;
    margin-left: auto;
    margin-right: auto;
}
.employee-card > img {
    width: 300px;
}

.employee-name{
    font-weight: 700;
    font-size: 20px;
    color: #000203;
}
.employee-qualification{
    font-weight: 500;
    font-size: 16px;
    color: #564f4f;
}
.employee-experience{
    font-weight: 500;
    font-size: 16px;
    color: #564f4f;
}
.employee-description{
    text-align: left;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #564f4f;
}
.employees__scroll-container > .prev-button,
.employees__scroll-container > .next-button {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: auto 10px;
  transform: translateY(-50%);
  background-color: #a5a3a3;
  border-radius: 25px;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}