.question-section{
    width: 100%;
    background: grey;
    height: 200px;
    text-align: center;
}
.question-section > h2{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.buttons{
    display: inline-block;
    margin: 50px auto;
}
.buttons > button{
    padding: 5px;
    margin: auto 0;
    min-width: 200px;
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 30px;
    border-style: none;
    background: linear-gradient(to right,
    #023E73, #FFFFFF 140%);
    color: white;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}