{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}
{% block title %}
О клинике
{% endblock %}

{% block main %}
<div id="main-container">
    <div id = image-scroll-container>
        <div class="image-container">
            <img src= "{{url_for ('static', filename='img/ESCF1606.jpg') }}">
            <div class="text-container">
                <span class="big-span">Лучшая забота о вашей улыбке</span><br>
                <span>Бесплатная консультация ортопеда</span><br>
                <span>Лечение и протезирование в одной клинике</span><br>
                <button>Позвонить</button>
        </div>
        <div class="image-container">
            <img src= "{{url_for ('static', filename='img/ESCF1606.jpg') }}">
            <div class="text-container">
                <span class="big-span">Лучшая забота о вашей улыбке</span><br>
                <span>Бесплатная консультация ортопеда</span><br>
                <span>Лечение и протезирование в одной клинике</span><br>
                <button>Позвонить</button>
            </div>
        </div>
    </div>
<!--        <div class="button-container">-->
<!--            <button>Запись на прием</button>-->
<!--        </div>-->
    </div>
    <div id="popular-services-container">
        <h1>Популярные услуги </h1>
        <div id="popular-services">
            <div id="service-scroll-container">
                <div class="service">
                    <img src="{{url_for ('static', filename='img/ESCF1345.jpg') }}">
                    <div class="service-name">Лечение кариеса и
                        его осложнений</div>
                    <br>
                    <div class="service-cost">ОТ <span>2200</span> Р</div>
                </div>
                <div class="service">
                    <img src="{{url_for ('static', filename='img/ESCF1784.jpg') }}">
                    <div class="service-name">Профессиональная гигиена +
                        глубокое фторирование</div>
                    <br>
                    <div class="service-cost">ОТ <span>2200</span> Р</div>
                </div>
                <div class="service">
                    <img src="{{url_for ('static', filename='img/ESCF1629.jpg') }}">
                    <div class="service-name">Ортопедическое лечение</div>
                    <br>
                    <div class="service-cost">ОТ <span>2200</span> Р</div>
                </div>
                <div class="service">
                    <img src="{{url_for ('static', filename='img/ESCF1345.jpg') }}">
                    <div class="service-name">Лечение кариеса и
                        его осложнений</div>
                    <br>
                    <div class="service-cost">ОТ <span>2200</span> Р</div>
                </div>
                <div class="service">
                    <img src="{{url_for ('static', filename='img/ESCF1784.jpg') }}">
                    <div class="service-name">Профессиональная гигиена +
                        глубокое фторирование</div>
                    <br>
                    <div class="service-cost">ОТ <span>2200</span> Р</div>
                </div>
                <div class="service">
                    <img src="{{url_for ('static', filename='img/ESCF1629.jpg') }}">
                    <div class="service-name">Ортопедическое лечение</div>
                    <br>
                    <div class="service-cost">ОТ <span>2200</span> Р</div>
                </div>
            </div>
        </div>
    </div>
    <div id="employee-container">
        <h1>Наши специалисты</h1>
        <div class="employee-card">
            <img src="{{url_for ('static', filename='img/Kiselev.png') }}">
            <div class="main-info">
                <span class="employee-name">Киселев Сергей Юрьевич</span><br>
                <span class="employee-qualification">Врач Стоматолог-Ортопед</span><br>
                <span class="employee-experience">Стаж работы 27 лет</span>
                <div class="description">
                    <span>Проявляет внимательность к своим пациентам и
                    подбирает план лечения индивидуально, исходя из показаний к тем или иным конструкциям, личных пожеланий
                    и возможностей каждого. Является Членом Стоматологической Ассоциации. Регулярно повышает свою
                    квалификацию.</span><br>Принимает взрослых.
                </div>
            </div>

        </div>
        <div class="employee-card">
            <img src="{{url_for ('static', filename='img/Murashkina.png') }}">
            <div class="main-info">
                <span class="employee-name">Мурашкина Юлия Юрьевна</span><br>
                <span class="employee-qualification">Врач Стоматолог</span><br>
                <span class="employee-experience">Стаж работы 4 года</span>
                <div class="description">
                    Молодой, но грамотный специалист в сфере стоматологии. Активно обуается новым методам лечения, проходит
                    курсы и вебинары. Явлется Членом Стоматологической Ассоциации.
                </div>
            </div>
        </div>
        <div class="employee-card">
            <img src="{{url_for ('static', filename='img/Loran.png') }}">
            <div class="main-info">
                <span class="employee-name">Лоран Денис Викторович</span><br>
                <span class="employee-qualification">Врач Стоматолог-Терапевт</span><br>
                <span class="employee-experience">Стаж работы 20 лет</span>
                <div class="description">
                    Владеет навыками лечения всех форм кариеса и его осложнений (пульпит, переодинтит).
                    <br><br>
                    Внимательно относится к каждому пациенту и строит индивидуальный план лечения. В работе проявляет себя
                    как специалист своего дела, имеет стаж работы 20 лет и постоянно проходит курсы повышения квалификации,
                    обучения, вебинары.
                </div>
            </div>
        </div>
        <div class="employee-card">
            <img src="{{url_for ('static', filename='img/Shakirova.png') }}">
            <div class="main-info">
                <span class="employee-name">Шакирова Марина Владимировна</span><br>
                <span class="employee-qualification">Врач Стоматолог Общей практики</span><br>
                <span class="employee-experience">Стаж работы 7 лет</span>
                <div class="description">
                    Выполняет лечение кариеса и осложнённых форм кариеса у детей, профгигиену, герметизацию фиссур, проводит
                    психологическую подготовку детей к приему стоматолога. Так же закончила ординатуру по специальности
                    ортодонтия.
                </div>
            </div>
        </div>
    </div>
    <div id="questions-container">
        <div class="image-background">
            <img src= "{{url_for ('static', filename='img/ESCF1794.jpg') }}">
        </div>
        <div class="text-container-1">
            <span>Если мы у вас есть вопросы мы вам перезвоним</span>
        </div>
    </div>
</div>
{% endblock %}