{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <link rel="stylesheet" href="{% static 'css/employees.css' %}">
    <link rel="stylesheet" href="{% static 'css/banners.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="icon" href="{% static 'img/Tooth.jpg' %}"><!-- 32×32 -->
    <meta charset="UTF-8">
    <title>Стоматологическая клиника "Tari"</title>
</head>
<body>
    <header id="header">
        <div class="header__content">
            <img class="header__logo" alt='Logo'
                src= "{% static 'img/logotip1.png' %}">
            <div class="header__contacts">
                <ul>
                    <u>пн-пт с 09:00-19:00</u>
                    <li><i class="fas fa-map-marker-alt"></i> пр-т. Ленина 94</li>
                    <li><i class="fas fa-phone-volume fa-rotate-by"></i> 8(3842)544-222</li>
                    <li><i class="fab fa-whatsapp"></i> 8(996)413-08-81</li>
                </ul>
            </div>
            <nav class="header__links">
                <ul>
                    <li><a href="#banners-section">Главная</a></li>
                    <li><a href="#popular-services-section">Услуги</a></li>
                    <li><a href="#employees-section">Специалисты</a></li>
                    <li><a href="#reviews-section">Отзывы</a></li>
                    <li><a href="#about-section">О Клинике</a></li>
                    <li><a href="#contact-section">Контакты</a></li>
                </ul>
            </nav>
            <button class="highlight-button header__sign-up-button openModalBtn">Запись на приём</button>
        </div>
    </header>
    <main class="main">
        <section id="banners-section">
            <div class="banners__scroll-container">
                <div class="banner">
                    <img src= "{% static 'img/ESCF1606.jpg' %}">
                    <div class="banner__text">
                        <span class="big-span">Самая Лучшая забота о вашей улыбке</span><br>
                        <span>Бесплатная консультация ортопеда</span><br>
                        <span>Лечение и протезирование в одной клинике</span><br>
                        <button class="highlight-button">Позвонить</button>
                    </div>
                </div>
                <div class="banner">
                    <img src= "{% static 'img/ESCF1629.jpg' %}">
                    <div class="banner__text">
                        <span class="big-span">Лучшая забота о вашей улыбке</span><br>
                        <span>Бесплатная консультация ортопеда</span><br>
                        <span>Лечение и протезирование в одной клинике</span><br>
                        <button class="highlight-button">Позвонить</button>
                    </div>
                </div>
                <div class="banner">
                    <img src= "{% static 'img/ESCF1345.jpg' %}">
                    <div class="banner__text">
                        <span class="big-span">Лучшая забота о вашей улыбке</span><br>
                        <span>Бесплатная консультация ортопеда</span><br>
                        <span>Лечение и протезирование в одной клинике</span><br>
                        <button class="highlight-button">Позвонить</button>
                    </div>
                </div>
            </div>
            <button class="prev-button" onclick="banner_slider.plusSlides(-1)"
             aria-label="Посмотреть предыдущий слайд">&lt;</button>
            <button class="next-button" onclick="banner_slider.plusSlides(1)"
             aria-label="Посмотреть следующий слайд">&gt</button>
            <div class="dot-container" style="text-align:center">
                <span class="banner__dot" onclick="banner_slider.currentSlide(1)"></span>
                <span class="banner__dot" onclick="banner_slider.currentSlide(2)"></span>
                <span class="banner__dot" onclick="banner_slider.currentSlide(3)"></span>
            </div>
        </section>
        <section id="popular-services-section">
            <h1>Популярные услуги</h1>
            <div class="popular-services">
                <div class="service-scroll-container">
                    <div class="service-page">
                        <div class="service">
                            <img src="{% static 'img/Tooth.jpg' %}">
                            <div class="service__information">
                                <div class="service-name">Профессиональная гигиена +
                                глубокое фторирование</div>
                                <div class="service-cost">ОТ 2200 Р</div>
                            </div>
                        </div>
                        <div class="service">
                            <img src="{% static 'img/Tooth.jpg' %}">
                            <div class="service__information">
                                <div class="service-name">Профессиональная гигиена +
                                глубокое фторирование</div>
                                <div class="service-cost">ОТ 2200 Р</div>
                            </div>
                        </div>
                        <div class="service">
                            <img src="{% static 'img/Tooth.jpg' %}">
                            <div class="service__information">
                                <div class="service-name">Профессиональная гигиена +
                                глубокое фторирование</div>
                                <div class="service-cost">ОТ 2200 Р</div>
                            </div>
                        </div>
                    </div>
                    <div class="service-page">
                        <div class="service">
                            <img src="{% static 'img/ESCF1345.jpg' %}">
                            <div class="service__information">
                                <div class="service-name">гигиена +
                                глубокое фторирование</div>
                                <div class="service-cost">ОТ 2200 Р</div>
                            </div>
                        </div>
                        <div class="service">
                            <img src="{% static 'img/ESCF1784.jpg' %}">
                            <div class="service__information">
                                <div class="service-name">Профессиональная гигиена +
                                глубокое фторирование</div>
                                <div class="service-cost">ОТ 2200 Р</div>
                            </div>
                        </div>
                        <div class="service">
                            <img src="{% static 'img/ESCF1629.jpg' %}">
                            <div class="service__information">
                                <span class="service-name">Профессиональная гигиена +
                                глубокое фторирование</span>
                                <span class="service-cost">ОТ 2200 Р</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dot-container" style="text-align:center">
                    <span class="service__dot" onclick="service_slider.currentSlide(1)"></span>
                    <span class="service__dot" onclick="service_slider.currentSlide(2)"></span>
                    <!-- <span class="service__dot" onclick="service_slider.currentSlide(3)"></span> -->
                </div>
            </div>
            <div class="actual-price">
                <label>Актуальный прайс от 12.02.2024</label>
                <button class="highlight-button download-button">Скачать</button>
                <div class="price-list">
                    <button class="prev-button" onclick="plusSlides(-1)"
                    aria-label="Посмотреть предыдущий слайд">&lt;</button>
                    <div class="list" onclick="showLists(0)">
                        <img src="{% static 'img/List1.png' %}"
                        alt="список цен">
                    </div>
                    <div class="list" onclick="showLists(1)">
                        <img src="{% static 'img/List2.png' %}"
                        alt="список цен">
                    </div>
                    <div class="list" onclick="showLists(2)">
                        <img src="{% static 'img/List3.png' %}"
                        alt="список цен">
                    </div>
                    <button class="next-button" onclick="plusSlides(1)" 
                aria-label="Посмотреть следующий слайд">&gt</button>
                </div>        
                <div class="attention">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ НЕОБХОДИМО ПРОКОНСУЛЬТИРОВАТЬСЯ С ВРАЧОМ</div>
            </div>
        </section>
        <section id="employees-section">
            <h1>Наши специалисты</h1>
            <div class="employees__scroll-container">
                <button class="prev-button"aria-label="Посмотреть предыдущий слайд">&lt;</button>
                <div class="employees">
                    <div class="employee-card">
                        <img src="{% static 'img/Kiselev.png' %}">
                        <div class="main-info">
                            <span class="employee-name">Киселев Сергей Юрьевич</span><br>
                            <span class="employee-qualification">Врач Стоматолог-Ортопед</span><br>
                            <span class="employee-experience">Стаж работы 27 лет</span>
                            <div class="employee-description">
                                <span>Проявляет внимательность к своим пациентам и
                                подбирает план лечения индивидуально, исходя из показаний к тем или иным конструкциям, личных пожеланий
                                и возможностей каждого. Является Членом Стоматологической Ассоциации. Регулярно повышает свою
                                квалификацию.</span><br>Принимает взрослых.
                            </div>
                        </div>

                    </div>
                    <div class="employee-card">
                        <img src="{% static 'img/Murashkina.png' %}">
                        <div class="main-info">
                            <span class="employee-name">Мурашкина Юлия Юрьевна</span><br>
                            <span class="employee-qualification">Врач Стоматолог</span><br>
                            <span class="employee-experience">Стаж работы 4 года</span>
                            <div class="employee-description">
                                Молодой, но грамотный специалист в сфере стоматологии. Активно обуается новым методам лечения, проходит
                                курсы и вебинары. Явлется Членом Стоматологической Ассоциации.
                            </div>
                        </div>
                    </div>
                    <div class="employee-card">
                        <img src="{% static 'img/Loran.png' %}">
                        <div class="main-info">
                            <span class="employee-name">Лоран Денис Викторович</span><br>
                            <span class="employee-qualification">Врач Стоматолог-Терапевт</span><br>
                            <span class="employee-experience">Стаж работы 20 лет</span>
                            <div class="employee-description">
                                Владеет навыками лечения всех форм кариеса и его осложнений (пульпит, переодинтит).
                                <br><br>
                                Внимательно относится к каждому пациенту и строит индивидуальный план лечения. В работе проявляет себя
                                как специалист своего дела, имеет стаж работы 20 лет и постоянно проходит курсы повышения квалификации,
                                обучения, вебинары.
                            </div>
                        </div>
                    </div>
                    <div class="employee-card">
                        <img src="{% static 'img/Shakirova.png' %}">
                        <div class="main-info">
                            <span class="employee-name">Шакирова Марина Владимировна</span><br>
                            <span class="employee-qualification">Врач Стоматолог Общей практики</span><br>
                            <span class="employee-experience">Стаж работы 7 лет</span>
                            <div class="employee-description">
                                Выполняет лечение кариеса и осложнённых форм кариеса у детей, профгигиену, герметизацию фиссур, проводит
                                психологическую подготовку детей к приему стоматолога. Так же закончила ординатуру по специальности
                                ортодонтия.
                            </div>
                        </div>
                    </div>
                </div>
                <button class="next-button" aria-label="Посмотреть следующий слайд">&gt</button>
            </div>
        </section>
        <section id="reviews-section">
            <h1>Отзывы</h1>
            <div class="reviews-cascade">
                <div class="review" style="display: none;">
                    <span class="review-author">Автор</span>
                    <span class="review-comment">Комментарий</span>  
                </div>
            </div>
            <div class="review-Yandex">
                <iframe 
                src="https://yandex.ru/maps-reviews-widget/1090980756?comments"></iframe>
                <a href="https://yandex.ru/maps/org/tari/1090980756/" 
                target="_blank" >Тари на карте Кемерова — Яндекс Карты</a>
            </div>
        </section>
        <section id="about-section">
            <h1>О клинике</h1>
            <div class="description">
                <div class="description__text">
                    <p>
                        <strong>В стоматологии «Тари»</strong> создана уютная атмосфера для ощущения
                        комфорта и спокойствия своих пациентов.
                        Клиентам гарантируется доступная стоимость услуг и высокий уровень
                        культуры обслуживания.
                        <br>
                    </p>
                    <p>
                        <strong>Мы предлагаем широкий перечень услуг терапевтических:</strong>
                        аппликационная и инфильтрационная анестезия с использованием
                        импортных препаратов, раскрытие полости зуба, медикаментозная
                        обработка кармозной полости, восстановление зуба пломбой с
                        использованием материалов химического и светового отверждения.
                        Здесь проводится комплексная гигиена всей полости рта:
                        фторирование эмали, удаление зубных отложений ультразвуковым
                        методом и прибором Air Flow.
                    </p>
                    <p>
                        <strong>Ортопедических: изготовление временных коронок, полный съемный</strong>
                        протез, бюгельный протез, изготовление временных коронок,
                        цельнолитая коронка, металлокерамическая коронка,
                        металлокерамическая коронка на имплантат и др.
                    </p>
                    
                </div>
                <div class="description__images">
                    <div class='image-row'>
                        <img src="{% static 'img/Tooth.jpg' %}">
                        <img src="{% static 'img/Tooth.jpg' %}">
                    </div>
                    <div class='image-row'>
                        <img src="{% static 'img/Tooth.jpg' %}">
                        <img src="{% static 'img/Tooth.jpg' %}">
                    </div>
                    <span>Клиника работает в будние дни, с 9:00 до 19:00 
                        (суббота и воскресенье – выходной).</span>
                </div>
            </div>
            <div class="license-container"> 
                
                <div class="licenses">
                    <h2>Лицензия</h2>
                    <img src="{% static 'img/List1.png' %}">
                    <img src="{% static 'img/List2.png' %}">
                    <img src="{% static 'img/List3.png' %}">
                </div>
                <div class="video-container">
                    <iframe 
                    src="https://www.youtube.com/embed/1H7x-nvf748?si=Q9ooCtmtr1JDK3Df" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" 
                    allowfullscreen>
                    </iframe>
                </div>
            </div>
            <details>
                <summary>Документы</summary>
                <div class="documents-container">
                    
                    <ul>
                        <h2>Выписка из реестра лицензий</h2>
                        <li><a href="{% static 'img/Tooth.jpg' %}" download>Выписка из Егрюл</a></li>
                        <li><a href="{% static 'img/Tooth.jpg' %}" download>Файл 3</a></li>
                    </ul>
                </div>
            </details>
            
        </section>
        <section id="contact-section">
            <h1>Контакты</h1>
            <div class="contacts_and_map-container">
                <span class="contacts">
                    <strong>Наименование:</strong><br>
                    Полное наименование - Общество с ограниченной<br> 
                    ответственностью "Тари";<br>
                    Сокращённое наименование - ООО "Тари";<br>
                    <strong>Адрес:</strong><br>
                    650023, Россия, Кемеровская область, г. Кемерово,<br> 
                    пр. Ленина, д. 94-3;<br>
                    <strong>Режим работы:</strong><br>
                    Понедельник - Пятница с 09:00 до 19:00;<br>
                    Суббота, воскресенье - выходные дни.<br>
                    <strong>Телефоны:</strong><br>
                    8(3842)-544-222;<br>
                    8(996)-413-08-81.<br>
                    <strong>Email:</strong><br>
                    TARIstomatolog@yandex.ru<br>
                    <strong>Приём граждан генеральным директором:</strong><br>
                    Вторник с 11:00 до 13:00   
                </span>
                <!--<span>Наименование:</span><br>
                    Полное наименование - Общество с ограниченной 
                    ответственностью "Тари"; 
                    Сокращённое наименование - ООО "Тари";
                    <br><span>Адрес:</span><br>
                    650023, Россия, Кемеровская область, г. Кемерово, 
                    пр. Ленина, д. 94-3;
                    <br><span>Режим работы:</span><br>
                    Понедельник - Пятница с 09:00 до 19:00;
                     Суббота, воскресенье - выходные дни.
                    <br><span>Телефоны:</span><br>
                    8(3842)-544-222;
                    8(996)-413-08-81.
                    <br><span>Email:</span><br>
                    TARIstomatolog@yandex.ru
                    <br><span>Приём граждан генеральным директором:</span><br>
                    Вторник с 11:00 до 13:00-->
                <div class="map" style="position:relative;">
                    <a href="https://yandex.ru/maps/org/tari/1090980756/?utm_medium=mapframe&utm_source=maps" 
                    style="color:#eee;font-size:12px;position:absolute;top:0px;">Тари</a>
                    <a href="https://yandex.ru/maps/64/kemerovo/category/dental_clinic/184106132/?utm_medium=mapframe&utm_source=maps" 
                    style="color:#eee;font-size:12px;position:absolute;top:14px;">Стоматологическая клиника в Кемерове</a>
                    <iframe src="https://yandex.ru/map-widget/v1/?ll=86.137689%2C55.345348&mode=search&oid=1090980756&ol=biz&z=13.88" 
                    width=100%% height=100% frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                </div>
            </div>
        </section>
        <section id="question-section">
            <h2>Закажите звонок или свяжитесь с нами самостоятельно</h2>
            <div class="buttons">
                <button class="highlight-button openModalBtn">Заказать звонок</button>
                <button class="highlight-button"><!--<i class="fab fa-whatsapp">--></i>Написать в WhatsApp</button>
                <button class="highlight-button">Позвонить</button>
            </div>

        </section>
    </main>
    <footer>
        <div class="footer-info">
            <div class="info-block">
                <h1>
                    ООО "Тари"
                </h1>
                <h2>
                    Г. Кемерово,<br>
                    Пр. Ленина, д. 94
                </h2>
                <p>
                    Данный интернет-сайт, а также вся информация, предоставленная на нём, включая цены, 
                    носит исключительно информационный характер 
                    и ни при каких условиях не является публичной офертой, определяемой 
                    положениями Статьи 437 Гражданского кодекса Российской Федерации.<br>
                    <br>
                    Для получения подробной информации о стоимости указанных услуг, пожалуйста, обращайтесь к администратору нашей клиники “Тари”.
                </p>
            </div>
            <div class="contact-block">
                <h1>Контакты:</h1>
                <li><i class="far fa-envelope"></i> taristomatolog@yandex.ru</li>
                <li><i class="fab fa-whatsapp"></i> +7(996)413-08-81</li>
                <li><i class="fas fa-phone-volume fa-rotate-by"></i>+7(3842)544-222</li>
            </div>
            <div class="navigation-block">
                <li><a href="#banners-section">Главная</a></li>
                <li><a href="#popular-services-section">Услуги</a></li>
                <li><a href="#employees-section">Специалисты</a></li>
                <li><a href="#reviews-section">Отзывы</a></li>
                <li><a href="#about-section">О Клинике</a></li>
                <li><a href="#contact-section">Контакты</a></li>
            </div>
        </div>
    </footer id="footer">
    <div class="bottom-line">
        <span>	&copy; ООО "Тари" &copy; 2024 ООО "Тари"    Политика конфиденциальности</span>
    </div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <button type="close" id="closeModalBtn" class="close-button"><i class="fas fa-times"></i></button>
            <h1>Заказать звонок</h1>
            <h2>Заполните форму и администратор свяжется с Вами в ближайшее время</h2>
            <form id="requestForm" action="https://formspree.io/f/xpwzevpr" method="POST">
                <input type="text" id="name" name="name" placeholder="Ваше имя" required>
                <input type="phone" id="phone" name="phone" placeholder="+7 ХХХ ХХ ХХ номер телефона" required>
                <textarea type="text" id="description" name="description" 
                placeholder="По желанию укажите цель посещения/симптомы и подходящую дату приёма"></textarea>
                <label for="agriement"><input type="checkbox" id="agriement" required>Я согласен(на) на обработку персональных данных</label>
                <button type="submit" class="highlight-button submit-button" >Заказать звонок</button>
            </form> 
        </div>
    </div>
    <script src="{% static 'js/sliders1.js' %}"></script>
    <script src="{% static 'js/sliders.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
</body>

</html>